{% extends 'base.html.twig' %}

{% block title %}From-Personne{% endblock %}

{% block body %}

    <h1>Ajouter une nouvelle personne</h1>

    {{ form_start(form) }}

        <div class="champ">
            {{ form_row(form.nom_prenom, {'attr' : {'placeholder': "Nom Prénom"}}) }}
        </div>

        <div class="champ">
            {{ form_row(form.sexe, {'attr' : {'placeholder': "Ex : femme"}}) }}
        </div>

        <div class="champ">
            {{ form_row(form.date_nais, {'attr': {'class': "date"}}) }}
        </div>


        <button type="submit" class="btn btn-success">Enregistrer</button>

    {{ form_end(form) }}

    {{ parent() }}

{% endblock %}