{% extends 'base.html.twig' %}

{% block title %}Wish-List{% endblock %}

{% block body %}
    <h1 class="title">Secrétariat - gestion des personnes</h1>
    <br>
    <a href="/secretariat/newPersonne" class="bouton" >
        <button class="btn btn-primary" type="button">Ajouter une personne</button>
    </a>
    <h3>Liste des personnes : </h3>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom Prenom</th>
                <th>Sexe</th>
                <th>Date de naissance</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for personne in personnes %}
             <tr>
                <td>{{ personne.id }}</td>
                <td>{{ personne.nomPrenom }}</td>
                <td>{{ personne.sexe }}</td>
                <td>{{ personne.dateNais | date('d/m/y')}}</td>
                <td>
                    <a href="/secretariat/editPersonne/{{ personne.id }}"  class="bouton" >
                        <button type="button" class="btn btn-primary">Modifier</button>
                    </a>
                    <a href="/secretariat/gestionPersonne" class="bouton" >
                        <button type="button" class="btn btn-danger">Supprimer</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}