{% extends 'base.html.twig' %}

{% block title %}Wish-List{% endblock %}

{% block body %}



    <h1 class="title">Secrétariat - gestion des adresses</h1>
    <br>
    <a href="/secretariat/newAdresse" class="bouton" >
        <button class="btn btn-primary" type="button">Ajouter une adresse</button>
    </a>
    <h3>Liste des adresse : </h3>
    <br>
    {# TODO adapter en pop-up  #}
    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
        <br>
    {% endfor %}
    {# TODO -------------------#}
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>numéro de rue</th>
                <th>nom de la rue</th>
                <th>ville</th>
                <th>code postale</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for adresse in adresses %}
             <tr>
                <td>{{ adresse.id }}</td>
                <td>{{ adresse.numRue }}</td>
                <td>{{ adresse.rue }}</td>
                <td>{{ adresse.ville }}</td>
                <td>{{ adresse.codePost }}</td>
                <td>
                    <a href="/secretariat/editAdresse/{{ adresse.id }}" >
                        <button type="button" class="btn btn-primary">Modifier</button>
                    </a>
                    {% if adresse.personnes.count == 0  %}
                        <a href="/secretariat/suprAdresse/{{ adresse.id }}" >
                            <button type="button" class="btn btn-danger">Supprimer</button>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}