{% extends 'base.html.twig' %}

{% block title %}Wish-List{% endblock %}

{% block body %}

    <h1 class="title">Secrétariat</h1>

    

    <h3>Liste des personnes : </h3>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom Prenom</th>
                <th>Sexe</th>
                <th>Date de naissance</th>
                <th>CodePostale</th>
                <th>Numéro</th>
                <th>Nom de rue</th>
                <th>Ville</th>
                <th>Code postale</th>
            </tr>
        </thead>
        <tbody>
        {% for personne in personnes %}
             <tr>
                <td>{{ personne.id }}</td>
                <td>{{ personne.nomPrenom }}</td>
                <td>{{ personne.sexe }}</td>
                <td>{{ personne.dateNais | date('d/m/y')}}</td>
                <td>{{ personne.adresse.codePost }}</td>
                <td>{{ personne.adresse.numRue }}</td>
                <td>{{ personne.adresse.rue }}</td>
                <td>{{ personne.adresse.ville }}</td>
                <td>{{ personne.adresse.codePost }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}